 
 {% block content %}
 {% load static %}
 
 {% include 'header.html' %}
 
 <!--/ Intro Single star /-->
 <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">Payment</h1>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="index.html">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Payment
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!--/ Intro Single End /-->

  <!--/ Contact Star /-->
  <section class="contact">
    <div class="container">
      <div class="row">
       
        <div class="col-sm-12 section-t8">
          <div class="row">
            <div class="col-md-7">
              <form class="form-a contactForm" action="addpayment" method="post" role="form">
                {% csrf_token %}
                <div id="sendmessage">Your message has been sent. Thank you!</div>
                <div id="errormessage"></div>
                <div class="row">
                  
                  <div class="col-md-6 mb-3">
                    <div class="form-group">
                      <select name="typee" aria-readonly="true"  id="" required class="form-control form-control-lg form-control-a">
                        <option value="">Select Payment Type</option>
                        <option value="Rent">Rent</option>
                        <option value="Electricity">Electricity</option>
                        <option value="Water">Water</option>
                        <option value="Other">Others</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <div class="form-group">
                      <select name="cardtype" aria-required="true" id="" required class="form-control form-control-lg form-control-a">
                        <option value="">Select Card Type</option>
                        <option value="Debit">Debit</option>
                        <option value="Credit">Credit</option>
                      
                      </select>
                    </div>
                  </div>
                  <div class="col-md-12 mb-3">
                    <div class="form-group">
                      <input type="text"  name="cardname" required class="form-control form-control-lg form-control-a" placeholder="Card Name" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject">
                      <div class="validation"></div>
                    </div>
                  </div>
                  <div class="col-md-12 mb-3">
                    <div class="form-group">
                      <input type="text" name="cardnumber" required class="form-control form-control-lg form-control-a" placeholder="Card Number" pattern="[0-9]{16}" title="Enter 16 Digits">
                      <div class="validation"></div>
                    </div>
                  </div>
                  <div class="col-md-12 mb-3">
                    <div class="form-group">
                      <input type="text" name="cvv" required class="form-control form-control-lg form-control-a" placeholder="Card CVV"  pattern="[0-9]{3}" title="Enter 3 Digits">
                      <div class="validation"></div>
                    </div>
                  </div>
                  <div class="col-md-12 mb-3">
                    <div class="form-group">
                      <textarea name="message" class="form-control" name="message" cols="45" rows="8" data-rule="required" data-msg="Please write something for us" placeholder="Message(if any)"></textarea>
                      <div class="validation"></div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <button type="submit" class="btn btn-a">Pay</button>
                  </div>
                </div>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Contact End /-->
  {% include 'footer.html' %}

  {% endblock %}